* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3e5d7;
}

body > div {
    background-color: #fff;
    max-width: 736px;
    margin-inline: auto;
    margin-block: 64px;
    padding: 40px;
    border-radius: 24px;
}

div img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 40px;
}

h1, h2 {
    font-family: 'Lora', serif;
}